@import "bootstrap";

body {
  background: #EFEFEF;
  padding-top: 70px;
}
.main-content{
  margin-top: 30px;
}

.article-title, .article-body {
  padding-left: 0.7em;
}

.article-title {
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 0.8em;
}

.article-body {
  font-size: 1.5em;
}

.new-article-btn{
  margin-bottom: 10px;
}

.well{
  background: #fff;
  padding: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}

#article-date{
  margin-bottom: 40px;
}

.artcile-detail-title {
  font-size: 4em;
  margin-bottom: 40px;
}